/* GENERAL */

body {
  font-family: 'Montserrat', sans-serif;
}

section {
  min-height: 300px;
  padding: 2em 0;
}

.section-dark {
  background: #0B3C5D;
  background-image: url(images/concrete-wall.png);
}

section h2,
section h3 {
  text-align: center;
}

section h2 {
  color: #1D2731;
}

section.section-dark h2 {
  color: #fff;
}

section h3 {
  color: #D9B310;
  font-weight: 300;
  font-size: 25px;
  position: relative;
}

section h3::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: #D9B310;
  bottom: -20px;
  left: calc(50% - 50px);
}

.blue {
  color: #0069d6;
}

/* NAVBAR */

#navbar-home {
  background-color: #1D2731;
  border-bottom: 2px solid #D9B310;
} 

.navbar-dark .navbar-brand {
  color: #D9B310;
}

/* HEADING */

#heading{
  padding: 250px 0;
  background-image: url(images/office-620817_1920.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}

#heading:before {
  background-color: #1D2731;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  display: inline-block;
  content: "";
  z-index: -1;
  -webkit-transform: translate3d(0, 0, -1px);
}

#heading .heading-description{
  color: #fff;
}

#heading .heading-description h1{
  font-weight: 600;
}

#heading .heading-description h2{
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 1.5em;
  color: #D9B310;
}

#heading .heading-description p{
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1;
  margin-bottom: 1.5em;
}

#heading .btn-services {
  background-color: #1D2731;
  border: 1px solid #1D2731;
  color: #D9B310;
}

#heading .btn-contact {
  background-color: #D9B310;
  border: 1px solid #D9B310;
  color: #1D2731;
}

#heading .btn-services:hover,
#heading .btn-contact:hover {
  background-color: #fff;
  border: 1px solid #1D2731;
  color: #1D2731;
}

/* SERVICES */

.card-icon svg {
  fill: #D9B310;
}

/* COMPETENCES */

#competences .progress
{
    height: 35px;
    margin: 30px 20px;
    backface-visibility: #fff;
}

#competences .progress-bar
{
    background: #D9B310;
}

#competences .progress h4
{
    font-size: 14px;
    color: #fff;
    /* text-shadow: 1px 1px 1px black; */
}

/* TARIFS */

#tarifs .card {
  border: none;
}

#tarifs .card-body {
  padding-left: 0;
  padding-right: 0;
}

#tarifs h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3em;
  position: relative;
  margin-bottom: 1.5em;
}

#tarifs .card-price {
  position: relative;
  text-align: center;
  margin-bottom: 1.5em;
}


#tarifs h4:after,
#tarifs .card-price:after {
  content: '';
  position: absolute;
  width: 25%;
  height: 3px;
  background-color: #D9B310;
  bottom: -15px;
  left: calc(50% - 12.5%);
}

#tarifs .card-price-text {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
}

#tarifs .card-price-amount {
  font-size: 3em;
  font-weight: 600;
  color: #0B3C5D;
  line-height: 1;
}

#tarifs .card-price-amount sup {
  font-size: 0.5em;
  font-weight: 300;
}

#tarifs .card-price-detail .row-alt {
  background-color: #0b3c5d15;
}

#tarifs li.row {
  margin-right: 0;
  margin-left: 0;
  font-size: 0.8em;
  padding: 0.5em 0;
}

#tarifs li .col-icon {
  padding: 0 10px;
  text-align: center;
}

#tarifs li .col-libelle {
  padding-left: 0;
  padding-right: 10px;
}


/* Contact */

#contact h4 {
  position: relative;
}

#contact h4:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: #D9B310;
  bottom: -10px;
  left: 0;
}

#contact .contact-informations-list .contact-informations-item {
  padding: 1em 0;
}

#contact .contact-informations-list .contact-informations-item:not(:last-child) {
  border-bottom: 1px solid #D9B310;
}

#contact .contact-informations-list .contact-informations-phone a {
  color: #D9B310
}

#contact .btn-submit-contact {
  background-color: #1D2731;
  border: 1px solid #1D2731;
  color: #D9B310;
}

#contact .btn-submit-contact:hover {
  background-color: #D9B310;
  border: 1px solid #D9B310;
  color: #fff;
}
